<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/index.css">
    <link href="../CSS/navbar_style.css" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/articles_news_style.css">
    <link rel="stylesheet" href="../CSS/clock.css">
    <link rel="stylesheet" href="../CSS/footer_style.css">
    <title>Artigos ou Noticias</title>
</head>

<body>
  <header>

    <nav>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">

                <a href="/index.html" class="nav-link">Horizonte Sustentável</a>
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </label>
            </div>
            
            <div class="nav-links">
              <a href="/Views/articles_news.html">Artigos e Noticias</a>
              <a href="/Views/gallery.html">Galeria Interativa</a>
              
              <div class="dropdown ">
                <a href="#" class="dropdown-toggle">Artigos</a>
                <div class="dropdown-content">
                  <a href="/Views/addArticle.html">Adicionar Artigos</a>
                  <a href="/Views/removeArticle.html">Remover Artigos</a>
                  <a href="/Views/updateArticle.html">Alterar Artigos</a>
                </div>
              </div>
    
              <div class="dropdown ">
                <a href="#" class="dropdown-toggle">Conselhos</a>
                <div class="dropdown-content">
                  <a href="#">Conselho 1</a>
                  <a href="#">Conselho 2</a>
                  <a href="#">Conselho 13</a>
                </div>
              </div>
    
              <a href="/Views/form.html">Contacte-nos</a>
            </div>
          </div>
    </nav>

</header>
    <main>
      
        <div class="body-content">

          <div class="clock bounce-in-fwd"></div>
    
    
            <div class="card_container" id="card-container">

                

    
    
    
    
            </div>
  </main>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col1">
          <h6>About</h6>
          <p class="text-justify">🌿 Horizonte Sustentável 🌍 Dedicado a promover um futuro sustentável, o Horizonte Sustentável é o seu recurso de referência para uma vida ecológica. A nossa missão é potenciar mudanças positivas através de informações fiáveis sobre práticas ecológicas, produtos sustentáveis e uma vida consciente. Explore artigos e guias perspicazes para um estilo de vida mais ecológico. </p>
        </div>
  
        <div class="col-sm-12 col-md-4 col2">
          <h6>Paginas</h6>
          <ul class="footer-links">
            <li><a href="/index.html">HomePage</a></li>
            <li><a href="/Views/articles_news.html">Artigos e Noticias</a></li>
            <li><a href="/Views/gallery.html">Galeria</a></li>
            <li><a href="/Views/addArticle.html">Adicionar Artigos</a></li>
            <li><a href="/Views/removeArticle.html">Remover Artigos</a></li>
            <li><a href="/Views/updateArticle.html">Alterar Artigos</a></li>
            <li><a href="/Views/form.html">Formulário de Contacto</a></li>
          </ul>
        </div>
  
        <div class="col-sm-12 col-md-4 col3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/Views/AboutUS.html">About Us</a></li>
            <li><a href="/Views/form.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
            <a href="#">Horizonte Sustentável</a>.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"><img class="social-logo" src="../assets/icons/Facebook_Logo_2023.png" alt="Facebook_Logo_2023"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"><img class="social-logo" src="../assets/icons/X_Logo_2023.png" alt="X_Logo_2023"></i></a></li>
            <li><a class="github" href="https://github.com/" target="_blank"><i class="fa fa-github"><img class="social-logo" src="../assets/icons/Github_Logo_2023.png" alt="Github_Logo_2023"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"><img class="social-logo" src="../assets/icons/Linkedin_Logo_2023.png" alt="Linkedin_Logo_2023"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </footer>

    <script src="../JS/articles_news_script.js"></script>
    <script src="../JS/navbar.js"></script>
    <script src="../JS/clock.js"></script>
</body>

</html>