<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/index.css">
    <link href="../CSS/navbar_style.css" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/articles_news_style.css">
    <title>Formulário</title>
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo">
                <a href="../index.html">Your Logo</a>
            </div>
            <div class="menu-container">
                <a href="articles_news.html">Artigos e Noticias</a>
                <a href="gallery.html">Galeria Interativa</a>

                <div class="dropdown">
                    <a href="#">Menu3</a>
                    <div class="dropdown-content">
                        <a href="#">Menu3.1</a>
                        <a href="#">Menu3.2</a>
                        <a href="#">Menu3.3</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="#">Menu4</a>
                    <div class="dropdown-content">
                        <a href="#">Menu4.1</a>
                        <a href="#">Menu4.2</a>
                        <a href="#">Menu4.3</a>
                    </div>
                </div>

                <a href="form.html">Formulario</a>
            </div>
        </nav>
    </header>

    <main>

    </main>



    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</body>

</html>