<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/gallery_style.css">
    <link rel="stylesheet" href="../CSS/navbar_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Estatísticas</title>
</head>
<body>

    <header>

        <nav>
            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                  <div class="nav-title">
                    Your Logo
                  </div>
                </div>
                <div class="nav-btn">
                  <label for="nav-check">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </label>
                </div>
                
                <div class="nav-links">
                  <a href="articles_news.html">Artigos e Noticias</a>
                  <a href="gallery.html">Galeria Interativa</a>
                  
                  <div class="dropdown ">
                    <a href="#" class="dropdown-toggle">Menu3</a>
                    <div class="dropdown-content">
                      <a href="#">Menu3.1</a>
                      <a href="#">Menu3.2</a>
                      <a href="#">Menu3.3</a>
                    </div>
                  </div>
        
                  <div class="dropdown ">
                    <a href="#" class="dropdown-toggle">Menu4</a>
                    <div class="dropdown-content">
                      <a href="#">Menu4.1</a>
                      <a href="#">Menu4.2</a>
                      <a href="#">Menu4.3</a>
                    </div>
                  </div>
        
                  <a href="form.html">Contacte-nos</a>
                </div>
              </div>
        </nav>

    </header>

   <main>
        <h1>Galeria</h1>
    
        
    
        </div>
   </main>
   <script src="../JS/navbar.js"></script>
</body>
</html>
