<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/navbar_style.css">
    <link rel="stylesheet" href="../CSS/articles_news_info_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">Document</title>
</head>
<body>
  <header class="header">
    <nav>
        <div class="logo">
            <a href="../index.html">Your Logo</a>
        </div>
        <div class="menu-container">
            <a href="articles_news.html">Artigos e Noticias</a>
            <a href="gallery.html">Galeria Interativa</a>
        
            <div class="dropdown">
                <a href="#">Menu3</a>
                <div class="dropdown-content">
                    <a href="#">Menu3.1</a>
                    <a href="#">Menu3.2</a>
                    <a href="#">Menu3.3</a>
                </div>
            </div>
        
            <div class="dropdown">
                <a href="#">Menu4</a>
                <div class="dropdown-content">
                    <a href="#">Menu4.1</a>
                    <a href="#">Menu4.2</a>
                    <a href="#">Menu4.3</a>
                </div>
            </div>
        
            <a href="form.html">Formulario</a>
        </div>
    </nav>
</header>

    <main>

        <div class="img" id="img">

        </div>
        <h1 class id="h1Title"></h1>
        <p id="pContent"></p>

    </main>
    <script src="../JS/articles_news_info_script.js"></script>
</body>
</html>