<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Artigo</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/navbar_style.css">
    <link rel="stylesheet" href="../CSS/clock.css">
    <link rel="stylesheet" href="../CSS/updateArticle_style.css">
</head>
<body>
    <header>

        <nav>
            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                  <div class="nav-title">

                    <a href="../index.html" class="nav-link">Your Logo</a>
                  </div>
                </div>
                <div class="nav-btn">
                  <label for="nav-check">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </label>
                </div>
                
                <div class="nav-links">
                  <a href="articles_news.html">Artigos e Noticias</a>
                  <a href="gallery.html">Galeria Interativa</a>
                  
                  <div class="dropdown ">
                    <a href="#" class="dropdown-toggle">Artigos</a>
                    <div class="dropdown-content">
                      <a href="addArticle.html">Adicionar Artigos</a>
                      <a href="removeArticle.html">Remover Artigos</a>
                      <a href="updateArticle.html">Alterar Artigos</a>
                    </div>
                  </div>
        
                  <div class="dropdown ">
                    <a href="#" class="dropdown-toggle">Menu4</a>
                    <div class="dropdown-content">
                      <a href="#">Menu4.1</a>
                      <a href="#">Menu4.2</a>
                      <a href="#">Menu4.3</a>
                    </div>
                  </div>
        
                  <a href="form.html">Contacte-nos</a>
                </div>
              </div>
        </nav>

    </header>

    <main>
        <div class="clock bounce-in-fwd"></div><br>

        <div class="addForm">
            <form id="form" action="" method="get">
                <label>Titulo:</label>
                <select name="title" id="title" onchange="verificar()"></select>
                <div id="restante"></div>
            </form>
        </div>
    </main>

    <script src="../JS/clock.js"></script>
    <script src="../JS/updateArticle_script.js"></script>
    <script src="../JS/navbar.js"></script>
</body>
</html>