<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Artigo</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/navbar_style.css">
    <link rel="stylesheet" href="../CSS/clock.css">
    <link rel="stylesheet" href="../CSS/updateArticle_style.css">
    <link rel="stylesheet" href="../CSS/footer_style.css">
</head>
<body>
    <header>

        <nav>
            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                  <div class="nav-title">

                    <a href="../index.html" class="nav-link">Your Logo</a>
                  </div>
                </div>
                <div class="nav-btn">
                  <label for="nav-check">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </label>
                </div>
                
                <div class="nav-links">
                  <a href="articles_news.html">Artigos e Noticias</a>
                  <a href="gallery.html">Galeria Interativa</a>
                  
                  <div class="dropdown ">
                    <a href="#" class="dropdown-toggle">Artigos</a>
                    <div class="dropdown-content">
                      <a href="addArticle.html">Adicionar Artigos</a>
                      <a href="removeArticle.html">Remover Artigos</a>
                      <a href="updateArticle.html">Alterar Artigos</a>
                    </div>
                  </div>
        
                  <div class="dropdown ">
                    <a href="#" class="dropdown-toggle">Menu4</a>
                    <div class="dropdown-content">
                      <a href="#">Menu4.1</a>
                      <a href="#">Menu4.2</a>
                      <a href="#">Menu4.3</a>
                    </div>
                  </div>
        
                  <a href="form.html">Contacte-nos</a>
                </div>
              </div>
        </nav>

    </header>

    <main>
        <div class="clock bounce-in-fwd"></div><br>

        <div class="addForm">
            <form id="form" action="" method="get">
                <label>Titulo:</label>
                <select name="title" id="title" onchange="verificar()"></select>
                <div id="restante"></div>
            </form>
        </div>
    </main>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">🌿 Your Website Name  🌍 Dedicado a promover um futuro sustentável, o Your Website Name é o seu recurso de referência para uma vida ecológica. A nossa missão é potenciar mudanças positivas através de informações fiáveis sobre práticas ecológicas, produtos sustentáveis e uma vida consciente. Explore artigos e guias perspicazes para um estilo de vida mais ecológico. Quer seja um ambientalista experiente ou esteja apenas a iniciar a sua jornada de sustentabilidade, o Your Website Name é o seu parceiro para causar um impacto positivo. Junte-se a nós na criação de um planeta mais limpo e mais verde. Obrigado por fazer parte da nossa comunidade e contribuir para um mundo mais sustentável.</p>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6>Paginas</h6>
            <ul class="footer-links">
              <li><a href="index.html">HomePage</a></li>
              <li><a href="Views/articles_news.html">Artigos e Noticias</a></li>
              <li><a href="Views/gallery.html">Galeria</a></li>
              <li><a href="Views/addArticle.html">Adicionar Artigos</a></li>
              <li><a href="Views/removeArticle.html">Remover Artigos</a></li>
              <li><a href="Views/updateArticle.html">Alterar Artigos</a></li>
              <li><a href="Views/form.html">Formulário de Contacto</a></li>
            </ul>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="Views/AboutUS.html">About Us</a></li>
              <li><a href="Views/form.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
         <a href="#">Your Website Name</a>.
            </p>
          </div>
  
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"><img class="social-logo" src="../assets/icons/Facebook_Logo_2023.png" alt="Facebook_Logo_2023"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"><img class="social-logo" src="../assets/icons/X_Logo_2023.png" alt="X_Logo_2023"></i></a></li>
              <li><a class="github" href="https://github.com/" target="_blank"><i class="fa fa-github"><img class="social-logo" src="../assets/icons/Github_Logo_2023.png" alt="Github_Logo_2023"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"><img class="social-logo" src="../assets/icons/Linkedin_Logo_2023.png" alt="Linkedin_Logo_2023"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
  </footer>

    <script src="../JS/clock.js"></script>
    <script src="../JS/updateArticle_script.js"></script>
    <script src="../JS/navbar.js"></script>
</body>
</html>